<div>
	<div id="lv1-tab-tpl">
		<li class="{{display}}" id="{{id}}"><span>{{nameCn}}</span>
	</div>
	<div id="lv2-tab-tpl">
		<li class="" id="{{id}}"><span>{{nameCn}}</span>
			<div style="float: right; width: 10px;">
				<i style="color: #0085d0; font-size: 14px; font-weight: bold;"
					class="fa fa-angle-right {{isShow}}"></i>
			</div></li>
	</div>

	<div id="sub-ul-tpl">
		<ul></ul>
	</div>

	<div id="iframe-tpl">
		<div class="tab-content">
			<a class="close hide"></a>
			<iframe border="0" frameborder="0" framespacing="0" marginheight="0" marginwidth="0"></iframe>
		</div>
	</div>

	<div id="back-li">
		<li class="" style="float:right" id="back-li"><i class="fa fa-home"></i><span> 返回门户</span></li>
	</div>
</div>